<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:glEsVersion="0x00030001" android:required="false" />
    <uses-feature android:name="android.hardware.vulkan.level" android:version="1" android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="GPUI Gallery"
        android:hasCode="true"
        android:supportsRtl="true"
        android:resizeableActivity="true"
        android:enableOnBackInvokedCallback="true"
        android:theme="@style/Theme.GpuiGallery"
        android:icon="@android:drawable/sym_def_app_icon">
        <meta-data android:name="android.app.lib_name" android:value="hello_android" />

        <activity
            android:name=".GalleryActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboard|keyboardHidden|density|fontScale|uiMode|locale|layoutDirection"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
