[*]
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
indent_size = 2

[*.{yaml,yml}]
indent_size = 2

[*.json]
indent_size = 2

[*.js]
indent_size = 2

[*.css]
indent_size = 2
