[submodule "prototypes/0002-arduino-core/vendor/ArduinoCore-avr"]
	path = prototypes/0002-arduino-core/vendor/ArduinoCore-avr
	url = https://github.com/arduino/ArduinoCore-avr.git
[submodule "assets/arduino-core/ArduinoCore-avr"]
	path = assets/arduino-core/ArduinoCore-avr
	url = https://github.com/arduino/ArduinoCore-avr.git
