article.prose {
  margin-bottom: 2.5rem;
}

article.prose,
.type-prose {
  font-family: "Spectral", "Constantia", "Lucida Bright", "Lucidabright", "Lucida Serif", "Lucida", "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", "Georgia", "serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", serif;
  letter-spacing: -0.05rem;
}

article.prose h1,
article.prose h2,
article.prose h3,
article.prose h4,
.type-prose h1,
.type-prose h2,
.type-prose h3,
.type-prose h4 {
  margin: 3rem 0 1rem 0;
}

article.prose h1,
.type-prose h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

article.prose h2,
.type-prose h2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

article.prose h3,
.type-prose h3 {
  font-size: 1.6rem;
  line-height: 2rem;
}

article.prose h4,
.type-prose h4 {
  font-size: 1.4rem;
  line-height: 1.75rem;
}

article.prose p,
article.prose li,
article.prose a,
.type-prose p,
.type-prose li,
.type-prose a {
  color: #eee;
  font-size: 1.3rem;
  line-height: 2.1rem;
}

article.prose a:not(img),
.type-prose a:not(img) {
  text-decoration: underline;
  text-underline-offset: 4px;
}

article.prose strong,
.type-prose strong {
  font-weight: 600;
}

article.prose i,
.type-prose i {
  font-style: italic;
}

article.prose p:not(:last-of-type),
.type-prose p:not(:last-of-type) {
  margin-bottom: 1.5rem;
}

article.prose img,
article.prose pre,
.type-prose img,
.type-prose pre {
  margin: 1.5rem 0;
}

article.prose ul,
.type-prose ul {
  margin-left: 1.5rem;
}

article.prose ul li,
.type-prose ul li {
  list-style-type: disc;
  list-style-position: outside;
}

article.prose ul li:not(:last-of-type),
.type-prose ul li:not(:last-of-type) {
  margin-bottom: 0.2rem;
}

article.prose code,
.type-prose code {
  font-family: "JetBrains Mono", "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", monospace;
  font-size: 0.96rem;
  letter-spacing: 0rem;
}

article.prose :not(pre) > code,
.type-prose :not(pre) > code {
  padding: 0.2rem 0.4rem;
}

article.prose pre,
.type-prose pre {
  padding: 0.8rem;
}

article.prose pre,
article.prose :not(pre) > code,
.type-prose pre,
.type-prose :not(pre) > code {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
}

/* Code Highlighting Styles
/* Based on PrismJS 1.25.0
https://prismjs.com/download.html#themes=prism-twilight&languages=markup+css+clike+javascript+bash+c+cpp+rust+scss */
code[class*="language-"],
pre[class*="language-"] {
  color: #ddd;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"]::-moz-selection {
  /* Firefox */
  background: #3b57bc33;
}

pre[class*="language-"]::selection {
  /* Safari */
  background: #3b57bc33;
}

/* Text Selection colour */
pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #3b57bc33;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: #3b57bc33;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #9cdcfe;
}

.token.punctuation {
  opacity: 0.7;
}

.token.namespace {
  opacity: 0.7;
}

.token.tag,
.token.boolean,
.token.number,
.token.deleted {
  color: #b5cea8;
}

.token.keyword,
.token.property,
.token.selector,
.token.constant,
.token.symbol,
.token.builtin {
  color: #0086c0;
  /* #F9EE98 */
}

.token.attr-name,
.token.attr-value,
.token.string,
.token.char,
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable,
.token.inserted {
  color: #4e94ce;
}

.token.atrule {
  color: #4ec9b0;
}

.token.regex,
.token.important {
  color: #dcdcaa;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

/* Markup */
.language-markup .token.tag,
.language-markup .token.attr-name,
.language-markup .token.punctuation {
  color: #4e94ce;
}

/* Make the tokens sit above the line highlight so the colours don't look faded. */
.token {
  position: relative;
  z-index: 1;
}
/*# sourceMappingURL=prose.css.map */