.settings-list {
  display: flex;
  flex-direction: column;
  font-family: var(--font);
  color: var(--fg);
  background-color: var(--bg);
}

.setting-container {
  padding: 12px 0;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  border-bottom: 1px solid var(--table-border-color);
}

.setting-header {
  grid-column: span 2 / span 2;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 0.5em 1em 0.5rem 0;
}

.setting-name {
  font-family: monospace;
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--sidebar-fg);
}

.setting-type {
  font-family: monospace;
  font-size: 1.4rem;
  color: var(--fg);
}

.setting-status {
  width: fit-content;
  padding: 0.2em 0.5em;
  background-color: var(--sidebar-active-bg);
  font-size: 1.2rem;
  font-family: monospace;
  color: #000;
}

.setting-details {
  grid-column: span 4 / span 4;
  width: 100%;
}

.setting-details tr:nth-child(even) {
  background-color: transparent;
}

.setting-details td {
  padding: 0.5em 0 0.5em 1em;
}

.setting-label {
  font-size: 1.2rem;
  width: 15%;
  border: none;
}

.setting-value {
  font-size: 1.4rem;
  width: 70%;
  border: none;
}

.settings-list code {
  font-family: var(--mono-font);
  font-size: 1.4rem;
  background-color: var(--quote-bg);
  padding: 2px 4px;
  border-radius: 3px;
  color: var(--inline-code-color);
}
