[Desktop Entry]
Version=1.0
Type=Application

Name=Zed
Comment=High-performance, multiplayer code editor.
Categories=Development;Utility;IDE;TextEditor;
Keywords=development;programming;code;editor;

Icon=dev.zed.Zed
Exec=Zed
Terminal=false