<key>CFBundleDocumentTypes</key>
<array>
    <dict>
        <key>CFBundleTypeIconFile</key>
        <string>Document</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
        <key>LSItemContentTypes</key>
        <array>
            <string>public.folder</string>
            <string>public.plain-text</string>
            <string>public.text</string>
            <string>public.utf8-plain-text</string>
        </array>
    </dict>
    <dict>
        <key>CFBundleTypeIconFile</key>
        <string>Document</string>
        <key>CFBundleTypeName</key>
        <string>Zed Text Document</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleTypeOSTypes</key>
        <array>
            <string>****</string>
        </array>
        <key>LSHandlerRank</key>
        <string>Default</string>
        <key>CFBundleTypeExtensions</key>
        <array>
            <string>Gemfile</string>
            <string>c</string>
            <string>c++</string>
            <string>cc</string>
            <string>cpp</string>
            <string>css</string>
            <string>erb</string>
            <string>ex</string>
            <string>exs</string>
            <string>go</string>
            <string>h</string>
            <string>h++</string>
            <string>hh</string>
            <string>hpp</string>
            <string>html</string>
            <string>js</string>
            <string>json</string>
            <string>jsx</string>
            <string>md</string>
            <string>py</string>
            <string>rb</string>
            <string>rkt</string>
            <string>rs</string>
            <string>scm</string>
            <string>toml</string>
            <string>ts</string>
            <string>tsx</string>
            <string>txt</string>
        </array>
    </dict>
</array>
