{{#> layout }}

<div class="max-w-screen-lg p-10 mx-auto font-thin text-main lg:p-20">  
    <h1 class="mb-10 font-display font-extralight">We’re building a community of passionate developers &amp; advocates.</h1>
    <p class="mt-5 leading-7">We think there’s a better way to write code, and we hope to share it with you soon.</p>

    <p class="mt-5 leading-7">If you would like to get involved early, sign up for the Zed Universe community below and we will let you know when it opens.</p>

    <form action="/signups" method="post" class="mt-10">
        <ul>
            <li class="flex flex-row mt-5 text-lg">
                <span class="w-6 mt-2 mr-5 checkbox__input">
                    <input class="absolute" type="checkbox" value=true name="wants_releases">
                    <span class="flex items-center justify-center checkbox__control">
                        <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                            <path d="M1 6.38905L4.33333 9.72239L11 0.833496" fill='none' stroke='currentColor' stroke-width="1" stroke-linecap="round"/>
                        </svg>
                    </span>
                </span>
                    
                <div class="flex-1 mt-0.5">
                    <label for="wants_releases">
                        <span class="radio__label">Let me know when there is a beta release</span>
                    </label>
                    <p class="text-sm leading-6 text-gray-400">
                        Get updates on early releases, and when Zed launches.
                    </p>
                </div>
            </li>
            <li class="flex flex-row mt-5 text-lg">
                <span class="w-6 mt-2 mr-5 checkbox__input">
                    <input class="absolute" type="checkbox" value=true name="wants_updates">
                    <span class="flex items-center justify-center checkbox__control">
                        <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                            <path d="M1 6.38905L4.33333 9.72239L11 0.833496" fill='none' stroke='currentColor' stroke-width="1" stroke-linecap="round"/>
                        </svg>
                    </span>
                </span>
                    
                <div class="flex-1 mt-0.5">
                    <label for="wants_updates">
                        <span class="radio__label">I’m interested in following Zed's development</span>
                    </label>
                    <p class="text-sm leading-6 text-gray-400">
                        Receive occasional email updates on Zed's progress and the tech we are building.
                    </p>
                </div>
            </li>
            <li class="flex flex-row mt-5 text-lg">
                <span class="w-6 mt-2 mr-5 checkbox__input">
                    <input class="absolute" type="checkbox" value=true name="wants_community">
                    <span class="flex items-center justify-center checkbox__control">
                        <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                            <path d="M1 6.38905L4.33333 9.72239L11 0.833496" fill='none' stroke='currentColor' stroke-width="1" stroke-linecap="round"/>
                        </svg>
                    </span>
                </span>
                    
                <div class="flex-1 mt-0.5">
                    <label for="wants_community">
                        <span class="radio__label">I want to test early releases & join the Zed community</span>
                    </label>
                    <p class="text-sm leading-6 text-gray-400">
                        Join the waitlist for our alpha tester community to get early access to releases and contribute to Zed's development through testing &amp; feedback.
                    </p>
                </div>
            </li>
        </ul>
        <div class="lg:flex lg:flex-row lg:mt-10">
            <input class="block w-full p-5 mt-10 font-thin bg-transparent border border-white lg:mt-0 lg:mr-5" type="text" id="form-email" name="email_address" required minlength="4" placeholder="Your email">

            <input class="block w-full p-5 mt-5 font-thin bg-transparent border border-white lg:mt-0" type="text" id="form-gh" name="github_login" placeholder="Github Username">
        </div>
        
        <textarea class="block w-full h-40 p-5 mt-5 font-thin leading-relaxed bg-transparent border border-white" type="text" name="about" placeholder="Tell us a bit about yourself, and your interest Zed.  &#10;What do you love or hate about your current code editor?"></textarea>
        
        <button class="block mt-10 text-lg font-thin opacity-100 hover:opacity-80">
            Join the waitlist &rarr;
        </button>

        <p class="mt-10 text-sm leading-relaxed text-gray-500">
            We'll never spam you &mdash; You can expect an email every 1 to 3 months from us if you sign up for updates, and occasional emails about public testing releases.
        </p>
    </form>
</div>

{{/layout}}
