{{#> layout }}

<div class="max-w-screen-lg p-10 mx-auto text-main font-extralight lg:p-20">
    <article class="max-w-xl">
        <h1 class="mb-5 text-4xl text-white font-display font-extralight">Sorry!</h1>
        <p class="mb-5 leading-relaxed">
            Looks like we encountered a {{status}} error: {{reason}}
        </p>
        <p class="leading-relaxed">
            Try refreshing or going <a class="underline hover:no-underline" href="/">home</a>.
        </p>
    </article>
</div>

{{/layout}}