{{#> layout }}

<div class="max-w-screen-lg mx-auto text-main font-extralight p-20">
    <article class="max-w-xl">
        <h1 class="text-white text-4xl font-display font-extralight mb-5">Sorry!</h1>
        <p class="leading-7 mb-5">
            Looks like we encountered a {{status}} error: {{reason}}
        </p>
        <p class="leading-7">
            Try refreshing or going <a class="underline hover:no-underline" href="/">home</a>.
        </p>
    </article>
</div>

{{/layout}}