{{#> layout }}
<div class="bg-white py-8">
    <div class="container mx-auto my-16 px-8 md:px-12 text-2xl md:text-4xl">
        Sorry, we encountered a {{status}} error: {{reason}}.
    </div>
</div>
{{/layout}}