{{#> layout }}

<div class="max-w-screen-md text-main font-extralight p-20">
    <h1 class="text-white text-4xl font-display font-extralight mb-10">Meet Zed&mdash;A lightning fast code editor written natively in Rust.</h1>
    <p class="leading-7">
        Level up your development process with:
        <ul class="mt-2 ml-8 list-disc leading-8">
            <li>a <a href="/tech#rust>" class="underline">lightning fast</a> code editor</li>
            <li>real time collaboration on any work tree</li>
            <li>powerful code annotation tools</li>
            <li>the ability to rewind time to any point</li>
        </ul>
    </p>
    <p class="mt-5 leading-7">Early access to Zed will open up mid-2022 for small teams and individuals.</p>
    <a href="/community" class="underline inline-block border border-white mt-10 mb-10 p-5">Be the first to know.</a>

    <h2 class="text-white font-display font-extralight mt-20">We started Zed for ourselves&mdash;To bring joy back to writing code every day.</h1>
    <p class="mt-5 leading-7">Modern text editors have forgotten the core tentants of software – speed and reliability first, features second.</p>
    <p class="mt-5 leading-7">While we are building Zed from the ground up built for collaboration, we are putting in the time to ensure every feature we build is performant and rock solid.</p>
    <p class="mt-5 leading-7">New software tends to overpromise and underdeliver&mdash;Our goal with Zed is to start small and impress with a singular focus on developer experience.</p>
    <a href="/story" class="underline inline-block border border-white mt-10 mb-10 p-5">Read our story.</a>
</div>

{{/layout}}