{{#> layout }}

<div class="container mx-auto max-w-screen-md p-10 pt-20">
    <h1 class="text-white text-4xl font-extralight mb-10">Meet Zed&mdash;A lightning fast code editor written natively in Rust.</h1>
    <p class="text-xl leading-7">
        Level up your development process with:
        <ul class="mt-2 ml-5 list-disc text-xl leading-7">
            <li>a lightning fast code editor</li>
            <li>real time collaboration on any work tree</li>
            <li>powerful code annotation tools</li>
            <li>the ability to rewind time to any point</li>
        </ul>
    </p>
    <p class="text-xl mt-10 leading-8">Early access to Zed will open up mid-2022 for small teams and individuals. Be the first in line.</p>
    <p class="text-xl mt-10 leading-7">Read our story.</p>
</div>

{{/layout}}