{{#> layout }}

<div class="max-w-screen-lg p-10 mx-auto font-thin text-main lg:p-20">
    <article class="max-w-xl">
        <h1 class="mb-10 text-4xl leading-tight text-white font-display font-extralight">Introducing Zed&mdash;A lightning fast code editor written in Rust.</h1>
        <p class= leading-relaxed">
            Level up your development process with:
            <ul class="mt-4 ml-8 leading-loose list-disc">
                <li>a <a href="/tech#rust>" class="underline">lightning fast</a> code editor</li>
                <li>real time collaboration, even on local projects</li>
                <li>powerful code annotation tools</li>
                <li>the ability to rewind time to any point</li>
            </ul>
        </p>
        <p class="mt-5 leading-relaxed">Early access to Zed will open up mid-2022 for small teams and individuals in our <a class="underline hover:no-underline" href="/community">community</a>.</p>
        <p class="mt-10 leading-relaxed">
            <span class="inline-block pr-5"><a href="/story" class="inline-block underline hover:no-underline">Read our story</a>.</span>
            <span class="inline-block pr-5 opacity-50"><a href="/community" class="inline-block no-underline hover:underline">Join the waitlist</a>.</span>
        </p>
    </article>
    <article class="max-w-xl mt-32">
        <h2 class="mb-10 text-3xl leading-tight text-white font-display font-extralight">What we are building.</h1>
        <p class="mt-5 leading-relaxed"></p>
    </article>
</div>

{{/layout}}