{{#> layout }}
<div class="bg-gray-50 py-10 text-black">
    <div class="container mx-auto px-8 md:px-12">
        <div class=" text-6xl font-black mb-8">
            THANKS
        </div>
        <div class="text-xl max-w-md">
            <p class="mb-8">
                Thanks a ton for your interest! We'll add you to our list and let you know when we have something ready
                for you to try out.
            </p>

            <p>
                <a href="/" class="font-bold text-yellow-600 hover:text-yellow-700">Back to /</a>
            </p>
        </div>
    </div>
</div>
{{/layout}}