{{#> layout }}

<div class="container mx-auto max-w-screen-md p-10 pt-20">
    <h1 class="text-white text-4xl font-display font-extralight mb-10">Our Story</h1>
    <p class="mt-5 leading-7">We’re the team behind GitHub’s Atom text editor, and we’re building something new:</p>
    <p class="mt-5 leading-7">Zed is a fully-native desktop code editor focused on high performance, clean design, and seamless collaboration.</p>
    <p class="mt-5 leading-7">We’re in early development, but we’d like to build a small community of developers who care deeply about their tools and are willing to give us feedback.</p>    
</div>

{{/layout}}
