{{#> layout }}

<div class="max-w-screen-lg mx-auto p-20">
    <h1 class="text-white text-4xl font-display font-extralight mb-10">Our Story</h1>
    <p class="mt-5 leading-7">We’re the team behind GitHub’s Atom text editor, and we’re building something new:</p>
    <p class="mt-5 leading-7">Zed is a fully-native desktop code editor focused on high performance, clean design, and seamless collaboration.</p>
    <p class="mt-5 leading-7">We’re in early development, but we’d like to build a small community of developers who care deeply about their tools and are willing to give us feedback.</p>    

    <h2 class="text-white font-display font-extralight mt-20">We started Zed for ourselves&mdash;To bring joy back to writing code every day.</h1>
    <p class="mt-5 leading-7">Modern text editors have forgotten the core tentants of software – speed and reliability first, features second.</p>
    <p class="mt-5 leading-7">While we are building Zed from the ground up built for collaboration, we are putting in the time to ensure every feature we build is performant and rock solid.</p>
    <p class="mt-5 leading-7">New software tends to overpromise and underdeliver&mdash;Our goal with Zed is to start small and impress with a singular focus on developer experience.</p>
</div>

{{/layout}}
