{{#> layout }}

<div class="max-w-screen-lg p-10 mx-auto font-thin text-main lg:p-20">
    <h1 class="mb-10 text-4xl text-white font-display font-extralight">The Team</h1>
    <div class="text-sm">
        <article class="mb-16 bg-black">
            <div class="content">
                <h3 class="mb-2 font-display font-extralight">Nathan Sobo</h3>
                <div class="text-columns-2">
                    <p class="mt-3 mb-3 leading-7">Nathan joined GitHub in late 2011 to build the <a href="https://atom.io" class="underline">Atom text editor</a>, and he led the Atom team until 2018.</p>
                
                    <p class="mt-3 mb-3 leading-7">He also co-led development of <a href="https://teletype.atom.io" class="underline">Teletype for Atom</a>, pioneering one of the first production uses of conflict-free replicated data types for collaborative text editing.</p>
                    
                    <p class="mt-3 mb-3 leading-7">He's been dreaming about building the world’s best text editor since he graduated from college, and is excited to finally have the knowledge, tools, and resources to achieve this vision.</p>

                    <p class="mt-3 mb-3 leading-7">Find Nathan on <a class="underline hover:no-underline" href="https://github.com/nathansobo">Github</a> &amp; <a class="underline hover:no-underline" href="https://twitter.com/nathansobo">Twitter</a>
                    </p>
                </div>
                <p class="mt-3 mb-3 leading-7">&mdash;&mdash;&mdash;</p>
            </div>
        </article>

        <article class="mb-16 bg-black">
            <div class="content">
                <h3 class="mb-2 font-display font-extralight">Antonio Scandurra</h3>
                <div class="text-columns-2">
                    <p class="mt-3 mb-3 leading-7">Antonio joined the Atom team in 2014 while still in university after his outstanding open source contributions caught the attention of the team.</p>
            
                    <p class="mt-3 mb-3 leading-7">He later joined Nathan in architecting <a href="https://teletype.atom.io" class="underline">Teletype for Atom</a> and researching the foundations of what has turned into Zed.</p>
                    
                    <p class="mt-3 mb-3 leading-7">For the last two years, he’s become an expert in distributed systems and conflict-free replicated data types through the development of a real-time, distributed, conflict-free database implemented in Rust for <a href="https://ditto.live" class="underline">Ditto</a>.</p>
                </div>
            </div>
            <p class="mt-3 mb-3 leading-7">&mdash;&mdash;&mdash;</p>
        </article>

        <article class="mb-16 bg-black">
            <div class="content">
                <h3 class="mb-2 font-display font-extralight">Max Brunsfeld</h3>
                <div class="text-columns-2">
                    <p class="mt-3 mb-3 leading-7">Max joined the Atom team in 2013 after working at Pivotal Labs.</p>
            
                    <p class="mt-3 mb-3 leading-7">While driving Atom towards its 1.0 launch during the day, Max spent nights and weekends building <a href="https://tree-sitter.github.io" class="underline">Tree-sitter</a>, a blazing-fast and expressive incremental parsing framework that currently powers all code analysis at GitHub.</p>
                    
                    <p class="mt-3 mb-3 leading-7">Before leaving to start Zed, Max helped GitHub's semantic analysis team integrate Tree-sitter to support syntax highlighting and code navigation on <a href="https://github.com" class="underline">github.com</a>.</p>
                </div>
            </div>
            <p class="mt-3 mb-3 leading-7">&mdash;&mdash;&mdash;</p>
        </article>

        <article class="mb-16 bg-black">
            <div class="content">
                <h3 class="mb-2 font-display font-extralight">Nate Butler</h3>
                <div class="text-columns-2">
                    <p class="mt-3 mb-3 leading-7">wip</p>
            
                    <p class="mt-3 mb-3 leading-7">wip</p>
                    
                    <p class="mt-3 mb-3 leading-7">wip</p>

                    <p class="mt-3 mb-3 leading-7">Find Nate on 
                        <a class="underline hover:no-underline" href="https://github.com/iamnbutler">Github</a> 
                        &amp; 
                        <a class="underline hover:no-underline" href="https://twitter.com/iamnbutler">Twitter</a>
                    </p>
                </div>
            </div>
            <p class="mt-3 mb-3 leading-7">&mdash;&mdash;&mdash;</p>
        </article>

        <article class="mb-16 bg-black">
            <div class="content">
                <h3 class="mb-2 font-display font-extralight">Are you next?</h3>
                <div class="text-columns-2">
                    <p class="mt-3 mb-3 leading-7">Want to build the future of software development?</p>
            
                    <p class="mt-3 mb-3 leading-7">We hope to bring a few more staff level engineers in the near future.</p>
                    
                    <p class="mt-3 mb-3 leading-7"><a class="underline" href="mailto:nathan@zed.dev">Drop us a line</a>.</p>
                </div>
            </div>
        </article>
    </div>
</div>
{{/layout}}
