{{#> layout }}

<div class="container mx-auto max-w-screen-md p-10 pt-20">
    <h1 class="text-white text-4xl font-display font-extralight mb-10">The Tech</h1>

    <h2 class="font-display mt-10">Rust – wip</h2>
    <p>wip</p>

    <h2 id="gpui" class="font-display mt-10">GPUI – <span class="italic">Laying the foundation for a generation of apps.</span></h2>
    <p class="mt-5 leading-7">A GPU rendering library for rust apps, gpui is a brand new platform for creating lightning fast native apps that take full advantage of your local hardware.</p>
    <p class="mt-5 leading-7">We’re building gpui and Zed in parallel, and expect to open gpui up for usage outside of it in the future.</p>

    <h2 id="gpui" class="font-display mt-10">CRDT – The key to time travel.</h2>
    <p class="mt-5 leading-7">One of the foundational elements of Zed is the ability...</p>
</div>

{{/layout}}
