/* This file is compiled to /assets/styles/tailwind.css via script/tailwind */

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Spectral:ital,wght@0,200;0,400;1,800&display=swap');

@font-face {
    font-family: 'Visby CF';
    src:
        url('/static/fonts/VisbyCF-Thin.woff2') format('woff2'),
        url('/static/fonts/VisbyCF-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}


@font-face {
    font-family: 'Visby CF';
    src:
        url('/static/fonts/VisbyCF-Light.woff2') format('woff2'),
        url('/static/fonts/VisbyCF-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
 
@font-face {
    font-family: 'Visby CF';
    src:
        url('/static/fonts/VisbyCF-Regular.woff2') format('woff2'),
        url('/static/fonts/VisbyCF-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Visby CF';
    src:
        url('/static/fonts/VisbyCF-Medium.woff2') format('woff2'),
        url('/static/fonts/VisbyCF-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Visby CF';
    src:
        url('/static/fonts/VisbyCF-DemiBold.woff2') format('woff2'),
        url('/static/fonts/VisbyCF-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Visby CF';
    src:
        url('/static/fonts/VisbyCF-Bold.woff2') format('woff2'),
        url('/static/fonts/VisbyCF-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Visby CF';
    src:
        url('/static/fonts/VisbyCF-ExtraBold.woff2') format('woff2'),
        url('/static/fonts/VisbyCF-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Visby CF';
    src:
        url('/static/fonts/VisbyCF-Heavy.woff2') format('woff2'),
        url('/static/fonts/VisbyCF-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @responsive {
        .bg-dotgrid-sm {
            background:
                linear-gradient(90deg, theme('colors.gray.50') 38px, transparent 1%) center,
                linear-gradient(theme('colors.gray.50') 38px, transparent 1%) center,
                theme('colors.gray.600');
            background-size: 40px 40px;
        }

        .bg-dotgrid-md {
            background:
                linear-gradient(90deg, theme('colors.gray.50') 58px, transparent 1%) center,
                linear-gradient(theme('colors.gray.50') 58px, transparent 1%) center,
                theme('colors.gray.600');
            background-size: 60px 60px;
        }

        .bg-dotgrid-lg {
            background:
                linear-gradient(90deg, theme('colors.gray.50') 88px, transparent 1%) center,
                linear-gradient(theme('colors.gray.50') 88px, transparent 1%) center,
                theme('colors.gray.600');
            background-size: 90px 90px;
        }       
    }
}