{{#> layout }}

<div class="bg-white">
    <div class="container mx-auto py-12 px-8 md:px-12">
        <h1 class="text-4xl font-black font-display mb-8">Bypassing code signing restrictions</h1>
        <div class="lg:flex lg:flex-row items-start">
            <div class="prose xl:prose-xl lg:mr-12">
                <p>
                    We haven't yet applied to Apple for the required certificate to sign our application bundle, which
                    means there's a small speed bump when you run our app.
                </p>
                <p>
                    Instead of double-clicking the app, right click it and choose Open.
                </p>
                <p>
                    You need to attempt open the app <b>twice</b>. On the second attempt, you should see the option
                    to open the application anyway in the dialog.
                </p>
            </div>
            <img class="float-1 lg:w-1/3 object-contain mt-8 lg:mt-0" alt="Screen Shot 2021-06-02 at 2 38 12 PM"
                src="https://user-images.githubusercontent.com/1789/120550754-86514480-c3b2-11eb-8995-32f5eea79664.png">
            <img class="float-1 lg:w-1/3 object-contain -ml-10 lg:ml-0 lg:-mt-10"
                alt="Screen Shot 2021-06-02 at 2 38 19 PM"
                src="https://user-images.githubusercontent.com/1789/120550759-88b39e80-c3b2-11eb-88e2-ddfc1b1c7a03.png">
        </div>

        <h1 class="text-4xl font-black font-display my-8">Key bindings</h1>
        <div class="prose">
            <dl>
                <dt>
                    <pre>cmd-shift-L</pre>
                </dt>
                <dd>
                    Split selection into lines
                </dd>
            </dl>
        </div>
    </div>
</div>

{{/layout}}