{{#> layout }}

<div class="max-w-screen-lg p-10 mx-auto font-extralight text-main lg:p-20">  
    <h1 class="mb-10 font-display font-extralight">Thanks for signing up!</h1>
    <p class="mt-5 leading-relaxed">
        We'll add you to our list and let you know when we have something ready for you to try out.
    </p>

    <p class="mt-5 leading-relaxed">
        Thanks for your interest!
    </p>

    <a href="/" class="block mt-10 text-lg font-extralight underline opacity-100 hover:opacity-80">
        Back to Home
    </a>
</div>

{{/layout}}
