[Desktop Entry]
Version=1.0
Type=Application
Name=Zed
GenericName=Text Editor
Comment=A high-performance, multiplayer code editor.
TryExec=Zed
StartupNotify=true
Exec=Zed
Icon=zed
Categories=TextEditor;Development;IDE;
Keywords=zed;
MimeType=text/plain;inode/directory;
