[Desktop Entry]
Version=1.0
Type=Application
Name=Zed
GenericName=Text Editor
Comment=A high-performance, multiplayer code editor.
StartupNotify=true
Exec=zed-editor %U
Icon=${SNAP}/meta/gui/icon.png
Categories=Utility;TextEditor;Development;IDE;
Keywords=zed;zed-editor
MimeType=text/plain;application/x-zerosize;inode/directory;x-scheme-handler/zed;
Actions=NewWorkspace;

[Desktop Action NewWorkspace]
Exec=zed-editor --new %U
Name=Open a new workspace
